:root {
  --danger: #D56062;
  --info: #067BC2;
  --success: #75E587;
  --misc: #ECC30B;
  --text_light: #FFFFFF;
  --text_dark: #929393;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
}

.Modal-body {
  font-size: 14pt;
  font-family: Helvetica;
  border: solid white 3px;
  color: var(--text_light);
  background: white;
  height: 200px;
  width: 300px;
  position: fixed;
  /*z-index: 2000;*/
  padding: 5px;
}
.Modal-backdrop {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .75;
}
.Modal-button {
  text-align: center;
}
.Modal-header {
  font-size: 20px;
  text-decoration: underline;
}
.rec-modal {
  background: var(--success);
  height: 300px;
  width: 450px;
}
.round-modal {
  background: var(--success);
  height: 300px;
  width: 300px;
  border-radius: 25%;
}

.square-modal {
  background: var(--success);
  height: 300px;
  width: 300px;
}
.danger-modal {
  background: var(--danger);
}
.info-modal {
  background: var(--info);
}
.success-modal {
  background: var(--success);
}
.teeny-modal {
  background: var(--info);
  height: 150px;
  width: 225px;
  font-size: 10pt;
}
.med-modal {
  background: var(--info);
  height: 200px;
  width: 300px;
  font-size: 14pt;
}
.large-modal {
  background: var(--info);
  height: 400px;
  width: 600px;
  font-size: 24pt;
}
.sleek-modal {
  background-image: url('../../demo/src/connectwork.png');
  height: 400px;
  width: 600px;
  font-size: 24pt;
  font-family: Trebuchet MS;
}
.colorful-modal {
  background-image: url('../../demo/src/memphis-colorful.png');
  height: 400px;
  width: 400px;
  font-size: 24pt;
  font-family: Trebuchet MS;
  color: var(--info);
  border: none;
  border-radius: 25%;
}
.peaceful-modal {
  background-image: url('../../demo/src/seigaiha.png');
  height: 400px;
  width: 400px;
  font-size: 24pt;
  font-family: Trebuchet MS;
  color: var(--text_dark);
  font-weight: lighter;
  border: none;
  border-radius: 25%;
}
